@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital&family=Varela&family=Varela+Round&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  &:before {
    content: "";
    content: "";
    width: 100%;
    height: 100vh;
    // background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    // background: #D3D3D3;
    // background-image: url("../public/bg.jpg");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
    &:hover {
      width: 60px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer {
  background-color: rgb(16, 21, 34);
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .footer__text {
    display: flex;
    justify-content: center;
    color: darken(white, 55%);
    font-size: 1rem;
    #copy {
      font-size: 15.8px;
    }
    a {
      text-decoration: none;
      color: darken(white, 55%);
      font-size: 1rem;
      transition: all 0.4s;
      display: inline-block;
      // background-color: #333;

      &:hover,
      &:active {
        color: rgb(1, 152, 152);
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  hr {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 1.5px solid rgb(95, 94, 94);
  }

  #topp {
    display: flex;
    justify-content: center;
    margin: 1.8rem 0;
  }

  .social-links {
    display: flex;
    justify-content: center;

    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-decoration: none;
      color: white;
      font-size: 2rem;
      width: 5rem;
      height: 2.8rem;
      transition: all 0.2s ease-in;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  .back-to-top i {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

//about

#back15 {
  background: linear-gradient(to right, rgb(0, 162, 173), rgb(15, 194, 182));
}

#h1y {
  padding: 15px;
  padding-top: 30px;
}
/* linear-gradient(135deg,#02aab0 0%,#00cdac 100%) */
.main-container1 {
  min-height: 90vh;
  margin-top: 10px;
}

.welText {
  max-width: 1100px;
  padding: 10px;
  display: flex;
  border-radius: 12px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #212438;
}

@media only screen and (max-width: 400px) {

  #back15 {
    min-width: 500px;
  }
  .welText {
    min-width: 500px;
  }
}

#maint {
  font-family: "Josefin sans", serif;
  text-align: justify;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(255, 255, 255);
  font-size: 19px;
  line-height: 25px;
}

#fi {
  margin-left: 30px;
  font-size: 30px;
  font-weight: 600;
}

#email {
  text-decoration: none;
  color: white;
  font-family: "Josefin sans", serif;
}
#email1 {
  text-decoration: none;
  color: #8db2e5;
  font-family: "Josefin sans", serif;
}

#cont {
  margin: 20px;
  margin-left: 30px;
  padding: 5px;
  background-color: #212438;
  color: #ffffff;
  border: 2px solid white;
  font-weight: 600;
  transition: all 1s;
}

#cont:hover {
  border-radius: 9px;
  background-color: #1f2235;
  transition: all 1s ease-out;
  border: 2px solid #f47c13;
}

// contact

#min2 {
  background: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
}

#h1x {
  padding: 15px;
  padding-top: 30px;
}
.main-container {
  min-height: 90vh;
  margin-top: 10px;
}

.central-form {
  max-width: 1100px;
  padding: 10px;
  display: flex;
  border-radius: 12px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #1f2235;
}

.central-form h2 {
  letter-spacing: 0.2rem;
  margin-bottom: 15px;
  margin-left: 5px;
}

.back-form {
  max-width: 390px;
  margin: 0 auto;
}

.back-form .img-back {
  width: 100%;
  margin-right: 70px;
  margin-bottom: 20px;
}

.title3 {
  color: #ffff;
  font-size: 1.8rem;
  font-family: "'Josefin Sans', sans-serif";
}

.topIcon {
  font-size: 1.5rem;
}

.topIcon:hover {
  color: #099bfd;
}

.img-back h4 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  letter-spacing: 0.3rem;
  font-size: 18px;
  opacity: 0.5;
}

.back-form .img-back img {
  width: 100%;
  opacity: 0.5;
}

.central-form form {
  width: auto;
  display: flex;
  color: #111;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  margin-top: -32px;
  background-color: white;
  border-radius: 12px;
}

form #pp {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
  color: darkorange;
  font-family: "Josefin Sans", sans-serif;
}

#form label {
  margin-bottom: 5px;
  font-size: 1rem;
  color: #111;
  letter-spacing: 0.1rem;
  font-family: "Josefin Sans", sans-serif;
}

#form input,
#textarea {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 0px;
  font-size: 1rem;
  margin-bottom: 22px;
  border-radius: 10px;
  transition: 0.3s;
  font-family: "Josefin Sans", sans-serif;
}

#input:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: white;
}
#textarea:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: white;
}

#mj {
  display: flex;
  margin-top: 15px;
  padding: 5px;
  outline: none;
  width: 160px;
  border: 2px solid darkorange;
  font-size: 18px;
  border-radius: 19px;
  background-color: #1f2235;
  color: white;
  align-items: center;
  justify-content: center;
}

#mj:hover {
  background-color: #1f2235;
  transition: all 1s ease;
  border: 2px solid #1f2235;
}

.img-back {
  flex: 1;
  align-self: center;
  margin-right: 20px;
}

#form {
  flex: 0.9;
}

.col i {
  padding: 7px;
  color: white;
}

.col i:hover {
  transform: scale(1.5);
}

@media screen and (min-width: 940px) {
  .back-form {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .img-back {
    flex: 1;
    align-self: center;
    margin-right: 30px;
  }

  #form {
    flex: 0.9;
  }
}

.send-btn button b {
  width: 100%;
}

.send-btn button b img {
  height: 9px;
  width: 60px;
  color: green;
}

#opp {
  margin-left: 5px;
}

#load {
  margin-left: 2px;
}

#mail {
  background-color: #1f2235;
  border: 1px solid darkorange;
  border-radius: 2px;
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.6s ease;
  margin-bottom: 20px;
  margin-top: 0;
  color: white;
  padding: 5px;
}

#mail:hover {
  background-color: darkorange;
  transform: scale(1.1);
  border-radius: 5px;
}

// tooltip

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  text-align: center;
  padding: 5px 0;
  top: 90%;
  left: 50%;
  margin-left: -45px; /* Use half of the width (120/2 = 60), to center the tooltip */

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

// .tooltip .tooltiptext {
//   width: 120px;
//   top: 100%;
//   left: 50%;
//   margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
// }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
